<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.gamis.mapper.RsgzSgzlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xi.gamis.entity.RsgzSgzl">
        <id column="ygbh" property="ygbh" />
        <result column="zwbh" property="zwbh" />
        <result column="jlbh" property="jlbh" />
        <result column="bmbh" property="bmbh" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        zwbh, ygbh, jlbh, bmbh
    </sql>

</mapper>
