<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.gamis.mapper.SysOplogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xi.gamis.entity.SysOplog">
        <id column="id" property="id" />
        <result column="method" property="method" />
        <result column="optype" property="optype" />
        <result column="create_time" property="createTime" />
        <result column="rsp_param" property="rspParam" />
        <result column="oper_ip" property="operIp" />
        <result column="req_param" property="reqParam" />
        <result column="userid" property="userid" />
        <result column="module" property="module" />
        <result column="uri" property="uri" />
        <result column="desciption" property="desciption" />
        <result column="username" property="username" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        method, optype, create_time, rsp_param, oper_ip, req_param, userid, module, uri, desciption, username, id
    </sql>

</mapper>
